.PageWrapper {
    width: unset;
    position: relative;
    margin: 0 auto 0 auto;
    z-index: 0;
    box-shadow: unset;
    min-height: 100vh;
}

.PageWrapper > h1 {
    font-family: "Super Sunday", sans-serif;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,.26666666666666666);
    cursor: pointer;
    text-decoration: unset;
    margin: 0 0 4rem 0;
    padding: 2rem 0 0 0;
    vertical-align: center;
}

