.LoginForm {
    display: block;
}
.LoginForm h1 {
    color: #fff;
    text-shadow: 2px 2px 3px #00000044;
    cursor:pointer;
    opacity: 0;
    animation: 3s slide-in-down forwards;
    -o-animation: 3s slide-in-down forwards;
    -moz-animation: 3s slide-in-down forwards;
}
.LoginForm p > a {
    opacity: 0;
    animation: 2s .75s slide-in-up forwards;
    -o-animation: 2s .75s slide-in-up forwards;
    -moz-animation: 2s .75s slide-in-up forwards;
}
.username, .password, .full_name, .nickname{
    padding: 16px;
    font-size: larger;

}
.username {
    opacity: 0;
    animation: 2s slide-in-up forwards;
    -o-animation: 2s slide-in-up forwards;
    -moz-animation: 2s slide-in-up forwards;
}
.password {
    opacity: 0;
    animation: 2s .25s slide-in-up forwards;
    -o-animation: 2s .25s slide-in-up forwards;
    -moz-animation: 2s .25s slide-in-up forwards;
}
.password > img {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: -42px;
    margin-top: 3px;
    cursor: pointer;
    opacity: .5;
}
.password > a {
    display: block;
    font-size: smaller;
}
.username > label, .password > label, .full_name > label, .nickname > label{
    margin-right: 16px;
    color: gray;
}
.username > input, .password > input, .full_name > input, .nickname > input {
    font-size: larger;
}
.Button {
    padding: 16px;
    margin: 8px 16px;
    cursor: pointer;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 4px rgba(0,0,0,0.09);
    box-shadow: 0 2px 4px 4px rgba(0,0,0,0.09);
    border-radius: 4px;
    border: 0;
    color: black;
    font-weight: bold;
    opacity: 0;
    animation: 2s .5s slide-in-up forwards;
    -o-animation: 2s .5s slide-in-up forwards;
    -moz-animation: 2s .5s slide-in-up forwards;
}
.Button:hover {
    background-color: #ffffffff !important;
    box-shadow: 3px 4px 5px 2px rgba(255, 255, 255, 0.1), 1px 2px 2px 1px rgba(200, 200, 200, 0.3);
}
