.Sort .ButtonGroup {
    position: relative;
    display: flex;
    align-items: center;
}
.Sort .ButtonGroup > button {
    padding: 20px 16px;
    width: 200px;
}
.Sort .ascending-btns > button {
    cursor: pointer;
    padding: 4px 8px;
    width: 60px;
    display: block;

}
