.circle-indicator {
    height: 10px;
    width: 33vw;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 10px 10px 0;
}
.goallist{
    padding: 1rem 0;
    margin: 1rem;
    border-radius: 10px;
    width: 85vw;
}
.goallist-clone {
    position: absolute;
    width: 30px;
    margin-top: -10px;
    cursor: pointer;
    left: 0;
    border-radius: 100%;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4), 4px 4px 9px rgba(0,0,0,0.1), inset 1px 1px 2px rgba(0,0,0,0.4);
    margin-left: 5px;
}
.goallist-clone:hover {
    filter: brightness(1.2);
}
.goallist-count {
    border-radius: 0 16px 16px 0;
    padding: 0 16px;
    margin-top: -36px !important;
    animation: 2s pop-in forwards;
}
.goallist-title {
    justify-content: space-evenly;
    position: relative;
    display: flex;
    animation: 2s pop-in forwards;
}
.goallist .add-button {
    position: relative;
    left: 80px;
    top: 0;
    border-radius: 0 0 10px 10px;
    border: unset;
    padding: 0 16px 4px 16px;
    cursor: pointer;
    animation: slide-in-up 2s forwards;
}
.goallist .add-button:hover {
    opacity: .7;
}
.goallist .last-goal {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.goallist > p {
    position: absolute;
    left: 16px;
    margin: -22px 0px 0px 0px;
    color: gray;
}
.goallist > div{
    max-height: 100vh;
    overflow-y: hidden;
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding: 16px 0;
    margin: 0px 0 -16px 0;
}
.goallist > div::-webkit-scrollbar-thumb {
    border: unset;
    background: lightgray;
    border-radius: 25px;

}
.goallist >div::-webkit-scrollbar {
    border: unset;
    background: transparent;
    max-height: 85%;
}
.goallist > ul {
    padding-inline-start: 0;
}
.goallist-item {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    font-size: large;
    opacity: 0;
    animation: 2s pop-in forwards;
}
.goallist-item > p{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    width: 70%;
    margin: 16px 16px;
    animation: .25s fade-in forwards;
 }
.goallist-item > div {
    display: flex;
    margin: auto 0;
}
.goallist-item > div > img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: auto 0;
    border: 0;
    background-color: #ffffff55;
    padding: 4px 4px;
    border-radius: 10px;

}
.goallist-item > div > img:hover {
    background-color: #ffffffaa;
}

.goallist-push {
    filter: grayscale(1) brightness(1.25) opacity(0.5);
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10vw;
    margin-top: -50px;
}
.checkboxinput {
    margin: auto 0 auto 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.goallist-item > .textinput {
    font-size: large;
    width: 70%;
    height: fit-content;
    margin: 16px 16px;
    padding: 0;
    animation: .25s fade-in forwards;
}
.Compacted > ul > * {
    margin-top: 0;
    margin-bottom: 0;
}
.Compacted li > *{
    margin-top: 0;
    margin-bottom: 0;}
.Compacted img {
    width: 20px;
    max-width: 20px;
    height: 20px;
    max-height: 20px;
}
.Extra-Compacted  {
    margin-bottom: -50px;;
}
.Extra-Compacted ul > * {
    margin-top: 0;
    margin-bottom: 0;
}
.Extra-Compacted li > *{
    margin-top: 0;
    margin-bottom: 0}
.Extra-Compacted img {
    width: 20px;
    max-width: 20px;
    height: 20px;
    max-height: 20px;
}
.Ultra-Compacted  {
    margin-bottom: -30px;
}
.Ultra-Compacted ul > li {
    display: none;
    margin-top: 0;
    margin-bottom: 0;
}
.Ultra-Compacted .goallist-title {
    border-radius: 10px !important;
    margin: 0;
}
.Ultra-Compacted .goallist-title > p:nth-child(3)  {
    display: unset;
}
.Ultra-Compacted li > *{
    margin-top: 0;
    margin-bottom: 0}
.Ultra-Compacted img {
    width: 20px;
    max-width: 20px;
    height: 20px;
    max-height: 20px;
}
.Ultra-Compacted button {
    display: none;
}
.row-buttons .close-button{
    padding: 0 5px;
    font-weight: 800;
    border-radius: 4px;
    margin: 0 4px;
}
.row-buttons img {
    cursor: pointer;
    background-color: #ffffff55;
    border-radius: 4px;
    margin: 0 4px -4px 4px;
    width: 20px;
}
.row-buttons img:hover {
    background-color: #ffffffaa;
}
@media (min-width: 481px) and (max-width:766px){
    .goallist {
        padding: 1em 16px;
        background-color: unset;
        width: 90vw;
    }
    .goallist > p {
        left: 32px;
    }
    .goallist-push {
        right: 5vw;
    }
}
@media (min-width: 767px) {
    .Compacted > ul > * {
        margin-top: 0;
        margin-bottom: 0;
    }
    .Compacted li > *{
        margin-top: 4px;
        margin-bottom: 0;}
    .Compacted img {
        width: 20px;
        max-width: 20px;
        height: 20px;
        max-height: 20px;
    }
    .Compacted .goallist-item input[type=text] {
        width: 25vw;
        margin: 0 16px;
        padding: 0;
        font-size: medium;
    }
    .Extra-Compacted  {
        margin-bottom: -20px;;
    }
    .Extra-Compacted ul > * {
        margin-top: 0;
        margin-bottom: 0;
    }
    .Extra-Compacted li > *{
        margin-top: 4px;
        margin-bottom: 0}
    .Extra-Compacted img {
        width: 20px;
        max-width: 20px;
        height: 20px;
        max-height: 20px;
    }
    .Compacted .goallist-push, .Extra-Compacted .goallist-push {
        margin-top: -32px;
    }
    .Ultra-Compacted  {
        margin-bottom: 24px;
    }
    .Ultra-Compacted ul {
        background-color: #e6eef599;
        width: 45vw;
        height: 74px;
        position: absolute;
        margin-left: 92px;
        margin-top: -4px;
        border-radius: 0 15px 15px 15px;
    }
    .Ultra-Compacted ul > li {
        display: none;
        margin-top: 0;
        margin-bottom: 0;
    }
    .Ultra-Compacted .goallist-push {
        top: 6px !important;

    }
    .Ultra-Compacted .goallist-title {
        border-radius: 10px 0 0 10px !important;
    }
    .Ultra-Compacted .goallist-title > p:nth-child(3)  {
        display: none;
    }
    .Ultra-Compacted .goallist-count {
        top: 16px !important;
        left: 90px !important;
        padding: 0 7px !important;
        z-index: 1;
        border-radius: 0 0 100% 100%;
        margin-top: -11px !important;
    }
    .Ultra-Compacted li > *{
        margin-top: 0;
        margin-bottom: 0}
    .Ultra-Compacted img {
        width: 20px;
        max-width: 20px;
        height: 20px;
        max-height: 20px;
    }

    .checkboxinput {
        margin: auto 0 auto 0;
        position: relative;
    }
    .circle-indicator-wrapper {
        position: absolute;
        display: block;
        margin: 0 !important;
        overflow: hidden;
        padding: 0 0 8px 4px !important;
        border-radius: 0 0 0 15px !important;
        width: 80px;
    }
    .circle-indicator {
        width: 100%;
        height: 25px;
        border-radius: 5px 20px 0 0;
        margin-left: -2px;
        margin-top: 0;
        position: absolute;
        z-index: -1;
        left: unset;
        bottom: unset;
    }

    .goallist {
        padding: 1em 16px;
        background-color: unset;
        width: unset;
    }
    .goallist .add-button {
        position: relative;
        left: 180px;
        top: -20px;
        border-radius: 0 0 10px 10px;
        border: unset;
        padding: 0 16px 4px 16px;
        cursor: pointer;
        animation: slide-in-up 2s forwards;
    }
    .goallist-count {
        position: relative !important;
        left: 51px !important;
        margin: -29px 0px 0px 0px !important;
        color: gray;
        padding: 4px 16px;
        top: -4px;
        width: min-content;
        border-radius: 10px 10px 0 0;
        animation: slide-in-left 2s forwards
    }
    .goallist-push {
        filter: grayscale(1) brightness(1) opacity(1);
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: relative;
        margin-top: -42px;
        display: block;
        left: 94%;
        right: -123%;
        padding: 6px 12px;
        background-color: aliceblue;
        top: -4px;
        border-radius: 10px 10px 0 0;
        animation: slide-in-right 2s forwards
    }
    .goallist-title {
        position: absolute;
        display: block;
        text-align: right;
        margin: -4px 0 0 6px !important;
        overflow-x: unset;
        overflow-y: unset !important;
        padding: 0 0 8px 4px !important;
        border-radius: 15px 0 0 15px !important;
        background-color: #e6eef5;
        z-index: 0;
        width: 82px;
        opacity: 0;
        animation: 3s slide-in-right forwards;
    }
    .goallist-clone {
        border-radius: 0 0 5px 10px;
        margin: -9px 0 0 11px;
        z-index: -1;
        transition: margin 1s;
        left: unset;
        box-shadow: none;
    }
    .goallist-clone:hover {
        margin: 8px 0 0 11px;
    }
    .goallist-title > p {
        margin: 0;
        z-index: 1;
    }
    .goallist-item {
        background-color: #e6eef5;
        left: 92px;
        top: -20px;
        width: 100%;
        border-radius: 0;
        display: inline-flex;
        justify-content: center;
    }
    .goallist-item:nth-child(odd) {
        background-color: #e6eef599;
    }
    .goallist-item:first-child {
        border-top-right-radius: 15px;
    }
    .goallist-item > div {
        display: inline-flex;
        margin: auto 0;
    }
    .goallist-item > div > button {
        padding: 0;
        width: 34px;
        height: 34px;
        font-weight: 900;
    }
}



