# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
# App Builder
/KoiGoalKeeper
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
node_modules
KoiGoalKeeper/www/asset-manifest.json
KoiGoalKeeper/www/favicon.ico
KoiGoalKeeper/www/index.html
KoiGoalKeeper/www/manifest.json
KoiGoalKeeper/www/precache-manifest.bdea31ed7079386bcb23a185a9580847.js
KoiGoalKeeper/www/robots.txt
KoiGoalKeeper/www/service-worker.js
KoiGoalKeeper/www/static/css/2.f42e59c9.chunk.css
KoiGoalKeeper/www/static/css/2.f42e59c9.chunk.css.map
KoiGoalKeeper/www/static/css/main.a3e926e2.chunk.css
KoiGoalKeeper/www/static/css/main.a3e926e2.chunk.css.map
KoiGoalKeeper/www/static/js/2.a9b6a26a.chunk.js
KoiGoalKeeper/www/static/js/2.a9b6a26a.chunk.js.LICENSE.txt
KoiGoalKeeper/www/static/js/2.a9b6a26a.chunk.js.map
KoiGoalKeeper/www/static/js/main.5b49dbec.chunk.js
KoiGoalKeeper/www/static/js/main.5b49dbec.chunk.js.map
KoiGoalKeeper/www/static/js/runtime-main.061ba22d.js
KoiGoalKeeper/www/static/js/runtime-main.061ba22d.js.map
KoiGoalKeeper/www/static/media/archive.22846eee.ico
KoiGoalKeeper/www/static/media/Cabin-Regular.46cdb386.ttf
KoiGoalKeeper/www/static/media/copy.338124ec.svg
KoiGoalKeeper/www/static/media/document.64557319.ico
KoiGoalKeeper/www/static/media/home.f605f2e3.ico
KoiGoalKeeper/www/static/media/pencil.37b986df.svg
KoiGoalKeeper/www/static/media/plus.6d76b89a.svg
KoiGoalKeeper/www/static/media/push.7d947bda.svg
KoiGoalKeeper/www/static/media/trash.454034fa.svg
KoiGoalKeeper/www/static/media/user.9b6079de.ico
KoiGoalKeeper/www/asset-manifest.json
KoiGoalKeeper/www/favicon.ico
KoiGoalKeeper/www/index.html
KoiGoalKeeper/www/manifest.json
KoiGoalKeeper/www/precache-manifest.bdea31ed7079386bcb23a185a9580847.js
KoiGoalKeeper/www/robots.txt
KoiGoalKeeper/www/service-worker.js
KoiGoalKeeper/www/static/css/2.f42e59c9.chunk.css
KoiGoalKeeper/www/static/css/2.f42e59c9.chunk.css.map
KoiGoalKeeper/www/static/css/main.a3e926e2.chunk.css
KoiGoalKeeper/www/static/css/main.a3e926e2.chunk.css.map
KoiGoalKeeper/www/static/js/2.a9b6a26a.chunk.js
KoiGoalKeeper/www/static/js/2.a9b6a26a.chunk.js.LICENSE.txt
KoiGoalKeeper/www/static/js/2.a9b6a26a.chunk.js.map
KoiGoalKeeper/www/static/js/main.5b49dbec.chunk.js
KoiGoalKeeper/www/static/js/main.5b49dbec.chunk.js.map
KoiGoalKeeper/www/static/js/runtime-main.061ba22d.js
KoiGoalKeeper/www/static/js/runtime-main.061ba22d.js.map
KoiGoalKeeper/www/static/media/archive.22846eee.ico
KoiGoalKeeper/www/static/media/Cabin-Regular.46cdb386.ttf
KoiGoalKeeper/www/static/media/copy.338124ec.svg
KoiGoalKeeper/www/static/media/document.64557319.ico
KoiGoalKeeper/www/static/media/home.f605f2e3.ico
KoiGoalKeeper/www/static/media/pencil.37b986df.svg
KoiGoalKeeper/www/static/media/plus.6d76b89a.svg
KoiGoalKeeper/www/static/media/push.7d947bda.svg
KoiGoalKeeper/www/static/media/trash.454034fa.svg
KoiGoalKeeper/www/static/media/user.9b6079de.ico
