.checkout {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    z-index: 11;
}
.checkout-wrapper {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #11111177;
    z-index: 10;
}
.checkout-form {
    padding: 8px;
    width: 300px;
    top: 15vh;
    left: 50vw;
    border-radius: 10px;
    margin-left: -150px;
    position: relative;
    z-index: 12;
}
.checkout-form p{
    color: #000000aa;
    font-weight: lighter;
}
.checkout-form ol {
    text-align: left;
}
.checkout-form ol > li {
    animation: 1s expand infinite ;
}
.checkout-form label > div {
     min-width: 150px;
 }
.checkout-form label > div:focus {

}
.checkout-form label {
    display: flex;
    justify-content: space-between;
    background-color: #ffffffcc;
    padding: 0 0 0 8px;
    color: #11111177;
}
.checkout-form label:first-child{
    border-radius: 10px 10px 0 0;
    padding: 8px 0 8px 8px;
}
.checkout-form label:nth-child(3){
    border-radius: 0 0 10px 10px;
    padding: 8px 0 8px 8px;
    margin-bottom: 1rem;
}
.checkout-form button {
    padding: 16px 16px;
    margin: 0;
    width: 100px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.2), 2px 2px 3px rgba(0,0,0,0.1);
    border: 0;
    cursor: pointer;
}
.checkout-form .cancel-button {
    text-align: right;
    border-radius: 10px 0 0 10px;

}
.checkout-form .cancel-button:hover {
    background-color: rgba(255, 155, 158, 0.67);
}
.checkout-form .order-button {
    text-align: left;
    border-radius: 0 10px 10px 0;

}
.checkout-form .order-button:hover {
    background-color: rgba(117, 232, 139, 0.67) ;
}
@media (min-width: 767px) {
    .checkout, .checkout-wrapper {
        left: -13vw;
    }
    .checkout-form {
        padding: 16px;
    }
}