.meet-the-developer-body-wrapper {
    opacity: 0;
    transition: opacity 2s;
}
.meet-the-developer-body {
    display: block;

    justify-content: space-evenly;
    margin: 2em auto;
}

.meet-the-developer-body span{
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
}
.meet-the-developer-body .chibi-frame {
    margin: 4px auto;

}
.section-animation {
    animation: 2s slide-in-up forwards;
}
.section-animation > .meet-the-developer-body > .chibi-frame{
    opacity: 0;
    animation: 2s 1s slide-in-right forwards;
}
@media (min-width: 480px) {
    .meet-the-developer-body {
        display: inline-flex;
        justify-content: space-evenly;
        margin: 1em 0;
    }
    .meet-the-developer-body p {
        width: 42vw;
    }
    .meet-the-developer-body .chibi-frame {
        margin: auto 2em !important;
        -webkit-box-shadow: 0 2px 7px 4px rgba(0,0,0,0.19);
        box-shadow: 0 2px 7px 4px rgba(0,0,0,0.19);
        border-radius: 100%;
    }
}
@media (min-width: 767px) {
    .meet-the-developer-body p {
        width: 48vw;
    }
}
