.Title img {
    height: 50px;
    width: 50px;
    background-color: #ffffffee;
    padding: 8px;
    border-radius: 100%;
    margin: 0 3rem 0 0;
    box-shadow: 6px 6px 0 #ffffff77, 7px 7px 1px rgba(0,0,0,0.2), 8px 8px 4px rgba(0,0,0,0.1);
}
.Title {
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,.26666666666666666);
    cursor: pointer;
    text-decoration: unset;
    font-size: large;
    display: flex;
    justify-content: center;
    margin: 2rem 0;

}
.Title h1 {
    margin: 0;
    line-height: 4rem;
}