.Goal {
    background-color: white;
    display: block;
    margin: 3rem auto;
    width: 50vw;
    min-width: 300px;
    padding: 1rem;
    border-radius: 16px;
    position: relative;
}
.Goal .Select {
    position: absolute;
    left: 0;
    top: -42px;
    border-radius: 1rem 1rem 0 0;
    display: block;
    box-shadow: unset;
    border: unset;
    background-color: white;
}
.Goal .SelectedOption {
    color: gray;
}
.Goal .Header, .Goal .Subheader{
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}
.Goal .Header{
    padding-top: 1.25rem;
    align-items: center;
}
.Goal .FavoriteButton {
    left: -65px;
    position: absolute;
    box-shadow: unset;
    border-radius: 1rem 0 0 1rem;

}
.Goal .Header .FavoriteButton img{
    width: 32px;
    height: 32px;

}
#Star{
    fill: cadetblue;
}
.Goal .Subheader{
    justify-content: space-around;
padding-top: .25rem;
  }
.Goal .Subheader .IconButton img{
    width: 32px;
    height: 32px;
}
.Goal .AddObjective{
    position: absolute;
    right: 16px;
    background-color: white;
    box-shadow: unset;
}
.Goal .GoalIndicator {
    height: 6px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: block;
    width: 50%;
    left: 16px;
    border-radius: 1rem 1rem 0rem 0rem;
}
.Goal .TopIndicator {
    height: 6px;
    position: absolute;
    top: 0;
    z-index: 1;
    display: block;
    width: 50%;
    right: 16px;
    border-radius: 0 0 1rem 1rem;
}