.nav {
    margin-right: 16px;
    z-index: 3;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: space-evenly;
    width: 100vw;
    background-color: #84adea;
    display: inline-flex;
}
.nav > img{
    display: block;
    cursor: pointer;
    padding: 8px;
    margin: 8px 0;
    border-radius: 12px;
    width: 35px;
    height: 35px;
    filter: grayscale(1);
}
.nav > div  > a {
    font-size: x-large;
    padding: 8px;
    margin: 8px 0;
    border-radius: 12px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    background-color: #84adea;
    /*background-color: #ffffff00;*/
}
.nav > div  > a > img{
    cursor:pointer;
    width: 35px;
    height: 35px;
    filter: grayscale(1);
}
.nav > button {
    font-size: x-large;
    padding: 8px 16px;
    margin: 0 4px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: #ffffff00;
    border: none;
}
.active {
    background-color: #ffffffff !important;
    box-shadow: 3px 4px 5px 2px rgba(255, 255, 255, 0.1), 1px 2px 2px 1px rgba(200, 200, 200, 0.3);
}
@media (min-width: 481px) {
    .nav > img, .nav > div > a > img {
        width: 48px;
        height: 48px;
    }
}
@media (min-width: 767px) {
    .nav {
        display: inline-block;
        margin-right: 16px;
        z-index: 3;
        left: unset;
        text-align: center;
        position: fixed;
        width: max-content;
        background-color: #00000000;
    }
    .nav > img{
        display: block;
        cursor: pointer;
        bottom: 0;
        position: fixed;
        padding: 8px;
        margin: 8px 0;
        border-radius: 12px;
        background-color: #84adea;
        width: 48px;
        height: 48px;
        transition: all;
        animation: ease-in 1s;
        filter: grayscale(0);
    }
    .nav > a {
        font-size: x-large;
        padding: 8px;
        margin: 8px 0;
        border-radius: 12px;
        color: black;
        text-decoration: none;
        cursor: pointer;
        display: block;
        background-color: #84adea;
        /*background-color: #ffffff00;*/
    }
    .nav > a > img{
        cursor:pointer;
        width: 48px;
    }
    .nav > button {
        font-size: x-large;
        padding: 8px 16px;
        margin: 0 4px;
        color: black;
        text-decoration: none;
        cursor: pointer;
        background-color: #ffffff00;
        border: none;
    }
}