.LandingPage .LoginContent {
    width: unset ;
}
.LandingPageButtons {
    display: flex;
    justify-content: center;
}
.LandingPage .PercentileMeaning, .LandingPage .PercentileWrapper {
    margin: -1rem 0 0 0;
}

.LandingPage .PercentileWrapper {
    text-align: center;
    display: block;
    overflow-x: clip;
}
.LandingPage .Percentile {
    display: flex;
    font-size: 10rem;
    margin: 0 auto;
    color: #ffffff;
    width: fit-content;
    animation: 1.5s castShadowClose ease forwards;
}

@media (min-width: 480px) {
    .LandingPage .PercentileMeaning, .LandingPage .PercentileWrapper {
        margin: -2rem 0 0 0;
    }
    .LandingPage .Percentile {
        font-size: 15rem;
        animation: 1.5s castShadow ease forwards;

    }
}
@media (min-width: 720px) {
    .LandingPage .PercentileMeaning, .LandingPage .PercentileWrapper {
        margin: -3rem 0 0 0;
    }
    .LandingPage .Percentile {
        font-size: 20rem;
        animation: 1.5s castShadow ease forwards;

    }
}
@media (min-width: 1080px) {
    .LandingPage .PercentileMeaning, .LandingPage .PercentileWrapper {
        margin: -4rem 0 0 0;
    }
    .LandingPage .Percentile {
        font-size: 30rem;
        animation: 1.5s castShadow ease forwards;

    }
}
@media (min-width: 1440px) {
    .LandingPage .PercentileMeaning, .LandingPage .PercentileWrapper {
        margin: -4rem 0 0 0;
    }
    .LandingPage .Percentile {
        font-size: 40rem;
        animation: 1.5s castShadowFar ease forwards;

    }
}

@keyframes castShadowClose {
    0%{
        text-shadow: 0 0 1px rgba(0,0,0,0.5);

    }
    100%{
        text-shadow: 15px 10px 1px rgba(0,0,0,0.3);

    }
}
@keyframes castShadow {
    0%{
        text-shadow: 0 0 1px rgba(0,0,0,0.5);

    }
    100%{
        text-shadow: 30px 30px 1px rgba(0,0,0,0.3);

    }
}
@keyframes castShadowFar {
    0%{
        text-shadow: 0 0 1px rgba(0,0,0,0.5);

    }
    100%{
        text-shadow: 60px 60px 1px rgba(0,0,0,0.3);

    }
}