.goallist{
    background-color: #e6eef5;
    padding: 1rem 0;
    margin: 1rem;
    border-radius: 10px;
}
.goallist-title {
    justify-content: space-evenly;
    position: relative;
    display: flex;
}
.goallist > p {
    position: absolute;
    left: 16px;
    margin: -22px 0px 0px 0px;
    color: gray;
}
.goallist > div{
    max-height: 100vh;
    overflow-y: scroll;
    text-align: center;
    margin: auto;
}
.goallist > div::-webkit-scrollbar-thumb {
    border: unset;
    background: lightgray;
    border-radius: 25px;

}
.goallist >div::-webkit-scrollbar {
    border: unset;
    background: transparent;
    max-height: 85%;
}
.goallist > ul {
    padding-inline-start: 0;
}
.goallist-item {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    font-size: large;
    animation: 2s popIn forwards;
}
.goallist-item:nth-child(odd) {
    background-color: #86c6ff33;
}
/*.goallist-item > button{*/
    /*margin: 16px 0;*/
    /*border: 1px lightgray solid;*/
    /*border-radius: 25px;*/
    /*padding: 4px 8px;*/
    /*font-size: large;*/
    /*cursor: pointer;*/
/*}*/
.goallist-item > p{
     max-width: 50vw;
     min-width: 50vw;
 }
.goallist-item > div {
    display: flex;
}
.goallist-item > div > img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: auto 0;
    border: 0;
    background-color: #ffffff55;
    padding: 4px 4px;
    border-radius: 10px;
}
.goallist-item > div > img:hover {
    background-color: #ffffffaa;
}
.goallist-item > .checkboxinput {
    margin: auto 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.goallist-item > .textinput {
    font-size: large;
    width: 50vw;
    height: fit-content;
    margin: 16px 0;
}
@media (min-width: 481px) and (max-width:766px){

}
@media (min-width: 767px) {
    .goallist {
        padding: 1em 16px;
        background-color: unset;
    }
    .goallist-title {
        position: absolute;
        display: block;
        text-align: right;
        margin-top: -4px !important;
        padding: 0 0 8px 4px;
        border-radius: 15px 0px 0px 0px;
        background-color: #e6eef5;
    }
    .goallist-title > p {
        margin: 0;
    }
    .goallist-item {
        background-color: #e6eef5;
        left: 84px;
        top: -20px;
        border-radius: 0;
    }
    .goallist-item:nth-child(odd) {
        background-color: #e6eef599;
    }
    .goallist-item:first-child {
        border-radius: 0 15px 0 0 ;
    }
    .goallist-item:last-child {
        border-radius: 0 0 15px 15px;
    }
    .goallist-item > div > button {
        padding: 0;
        width: 34px;
        height: 34px;
        font-weight: 900;
    }
}



@keyframes popIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}