.landing-page-wrapper {

}
.landing-page-wrapper > .landing-page {
    width: 100vw;
}
.landing-page h1 {
    color: #fff;
    position: absolute;
    width: 100vw;
    text-shadow: 2px 2px 3px #00000044;
}
.landing-page h2 {
    color: #fff;
    width: 100vw;
    text-shadow: 1px 1px 2px #00000044;
    margin: 4rem 0 0 0 ;
}
.landing-page p {
    width: 80vw;
    text-align: justify;
    margin: 1rem auto 2rem auto ;
}
.landing-page-body {
    display: block;
}
.landing-page-text {
    text-align: justify;
    width: 70vw;
    margin: 0 auto;
}
.landing-page-section{
    opacity: 0;
}
.section-animation {
    opacity: 1;
}
.section-animation > .landing-page-body{
    animation: 2s slide-in-up forwards;
}
.section-animation h2 {
    animation: 2s slide-in-down forwards;
}
.landing-page-section figcaption{
    width: 70vw;
    margin: 1rem auto;
    text-align: justify;
    color: #777777cc;
    font-size: small;
}
.landing-page-section img{
    width: 80vw;
    margin: 1rem 0;
    -webkit-box-shadow: 0 2px 7px 4px rgba(0,0,0,0.19);
    box-shadow: 0 2px 7px 4px rgba(0,0,0,0.19);
    border-radius: 20px;
}
@media (min-width: 480px) {
    .landing-page-text {
        width: 60vw;
    }
    .landing-page p {
        width: 60vw;
    }
    .landing-page-section figcaption{
        width: 60vw;
    }
    .landing-page-section img{
        width: 70vw;
        margin: 1rem 0;
        border-radius: 25px;
    }

}
@media (min-width: 767px) {


    .landing-page-text {
        width: 60vw;
    }

}
@media (min-width: 867px) {
    .landing-page-body {
        display: inline-flex;
    }
    .landing-page-full-section .landing-page-text {
        width: 30vw;
    }
    .landing-page-section figcaption{
        width: 50vw;
        max-width: 480px;
        font-size: medium;
    }
    .landing-page p {
        width: 50vw;
    }
    .landing-page-section img{
        width: 480px;
        margin: 1rem 0;
        border-radius: 30px;
    }
}
@media (min-width: 1024px) {

    .landing-page-full-section .landing-page-text {
        width: 40vw;
    }
}
