.landing-page-wrapper {

}
.landing-page-wrapper > .landing-page {
    width: 100vw;
}
.landing-page h1 {
    color: #fff;
    position: absolute;
    width: 100vw;
    text-shadow: 2px 2px 3px #00000044;
}
.landing-page h2 {
    color: #fff;
    width: 100vw;
    text-shadow: 1px 1px 2px #00000044;
    margin: 4rem 0 0 0 ;
}
.landing-page nav {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-color: #00000000;

    padding: 1rem;
}
.landing-page nav > a {
    color: white;
    margin-bottom: 10vh;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 2px #00000044;
}
.landing-page p {
    width: 80vw;
    text-align: justify;
    margin: 1rem auto 4rem auto ;
}