.terms-conditions {
    max-height: 300px;
    overflow-y: scroll;
    background-color: white;
    padding: 0 1rem;
    text-align: left;
    border-radius: 10px;
    margin: 2rem 0;
}
.terms-conditions h1, .terms-conditions h2, .terms-conditions h3 {
    color: #000 !important;
    text-shadow: unset !important;
    text-align: left;
}