.home {
    width: unset;
}
.home h1, .home h2{
    text-align: left;
    color: white;
    margin: 1em 4px;
    width: 100vw;
}
.dropdown-types {
    z-index: 4;
}
.dropdown-list > li:hover{
    background-color: #ffffff !important;
}
