.section-header .canvas-wrapper {
    width: 100%;
    overflow: hidden;
}
.canvas-wrapper {
    position: relative;
}
.koi-fish {
    transition: ease;
    position: relative;
    z-index: 1;
}
@keyframes swim {
    0%, 100%{
        transform: scaleX(1) scaleY(1);
    }
    50% {
        transform: scaleX(1.2) rotate3d(1,1,0,30deg) scaleY(1.3);
    }
}
@keyframes swimRev {
    0%, 100%{
        transform: scaleX(-1) scaleY(1);
    }
    50% {
        transform: scaleX(-1.2) rotate3d(1,1,0,30deg) scaleY(1.3);
    }
}