.dropdown-wrapper {
    position: relative;
    z-index: 4;
}
.dropdown-types-settings {
    position: relative;
}
.settings h1, .settings h2{
    text-align: left;
    color: white;
}
.even-space{
    position: relative;
    display: flex;
    justify-content: space-between;
    color: purple;
    cursor: pointer;
}
.even-space > span, .even-space > p{
    color: black
}
.even-space > button {
    background: #00000022;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    margin: 8px 4px;
    padding: 4px 8px;
}
.delete {
    border: none;
    border-radius: 10px;
    margin-top: 96px;
    padding: 8px;
    font-size: large;
    cursor: pointer;
    background: #ffffff88;
}