.sort .ascending-btns {
    position: relative;
    margin-top: 0;
    font-size: medium;
    display: flex;
    justify-content: center;
    z-index: 4;
}
.sort .ascending-btns > button {
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    padding: 4px 8px;
    display: block;

}
.sort .ascending-btns > button:hover {
    filter: opacity(1);
}
@media (min-width: 767px) {
 .sort .ascending-btns {
        display: block;
        position: absolute;
        margin-top: -6px;
        font-size: medium;
        right: -60px;
    }
}