.Goal {
    background-color: white;
    display: block;
    margin: 1rem auto;
    width: 600px;
    padding: 1rem;
    border-radius: 16px;
    position: relative;
}
.GoalHeader {
    display: flex;
    justify-content: space-between;
}
.GoalActions {
    justify-content: right;
    display: flex;
}
.Task {
    display: block;
}
.Task:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.Task input {
    padding: 1rem .5rem;
}
.TaskInput {
    margin: 16px 0;
    display: block;
    width: calc(100% - 1rem);
}