.image-coursel {
    display: flex;
    justify-content: space-evenly;
}

.image-slide {
    background-size: cover;
    background-position: center;
    min-height: 30vw;
    width: 80vw;
    max-width: 720px;
    max-height: 80vw;
}

.image-slider {
    width: 80vw;
    display: flex;
    margin: 1rem auto 0 auto;
    justify-content: space-evenly;
}
.slide-arrow {
    cursor: pointer;
    background-color: white;
    border-radius: 25px;
    padding: 20% 16px
}
.image-coursel .left {
    position: absolute;
    left: 0;
}
.image-coursel .right {
    position: absolute;
    right: 0;
}
.image-slider > div {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    display: inline-flex;
    background-color: #77777766;
    cursor: pointer;
}
.circle-active {
    background-color: #ffffff77 !important;
}
@media (min-width: 480px) {
    .slide-arrow {
        padding: 10% 16px;
        margin-top: 10%;
    }
    .image-coursel .left {
        position: absolute;
        left: 2rem;

    }
    .image-coursel .right {
        position: absolute;
        right: 2rem;
    }
}
@media (min-width: 767px) {
    .slide-arrow {
        margin: auto 0;
        padding: 40px 16px;
    }
    .image-coursel .left {
        position: relative;
        left: 2rem;

    }
    .image-coursel .right {
        position: relative;
        right: 2rem;
    }
    .image-slide {
        min-height: 428px;
    }
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,80px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 10
    }
}
